/* client/src/index.css */

/* Eliminamos los márgenes por defecto del navegador */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Evita scroll horizontal */
}

#root {
  width: 100%;
  height: 100%;
}